/* Általános stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     /* Háttérkép beállítása */
    background-size: cover; /* Háttérkép méretezése az ablakhoz */
}
body.index{
	background-image: url("/backgrounds/index_background.jpg");
}
body.actualUser{
	background-image: url("/backgrounds/actualUser_background.jpg");
}

header {
    background-color: transparent; /* Átlátszó fejléc háttérszín */
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 200%;
        
}

nav {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    margin: 0 5px;
}

nav a:hover {
    background-color: #ddd;
}

.container {
    margin: 100px auto; /* Felső margó módosítása */
    width: 300px; /* Szélesség módosítása */
    height: 300px; /* Magasság hozzáadása */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Átlátszó háttérszín */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.register, .container.login {
    display: inline-block; /* Az elemek egymás mellett helyezése */
    vertical-align: top; /* Az elemek felső részének igazítása */
    margin: 100px 10px; /* Felső és alsó margó módosítása, jobb és bal oldali margó automatikus */
    width: calc(50% - 20px); /* Szélesség számítása az oldalsó margókkal */
    max-width: 200px; /* Maximális szélesség beállítása */
    max-height: 130px; /* Maximális magasság beállítása */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Átlátszó háttérszín */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.login {
    float: right;
}








/*tarantulaUpload*/

body.tarantulaUpload {
	color: white;
	background-image: url("/backgrounds/tarantulaUpload_background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Teljes képernyős magasság */
    margin: 0; /* Töröld az alapértelmezett margókat */
    padding: 0; /* Töröld az alapértelmezett belső kitöltéseket */
}

.tarantula #tarantulaForm label {
	color: black;
    text-align: center;
    width: 100%;
}



/*tarantula*/


	

body.tarantula {
	background-image: url("/backgrounds/tarantula_background.jpg");
	color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

body.tarantula header {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 200%;
}

body.tarantula .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body.tarantula form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
}

body.tarantula label,
body.tarantula input,
body.tarantula textarea {
    width: 100%;
    margin-bottom: 10px;
}

body.tarantula input[type="submit"] {
    width: auto;
    cursor: pointer;
}







/*register*/


