<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Üdvözöljük!</title>
 <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body class="actualUser">
    <header>
        <h1>Welcome!</h1>
        
    </header>
    <nav>
        <a href="/tarantulas">List of tarantulas</a>
        <a href="/uploadTarantula">Upload deascription</a>
        <a href="/profile">Profile</a>
        <a href="/messages">Messages</a>
        <a href="/forum">Forum</a>
        <a href="/logOut">Log out</a>
    </nav>
    
</body>
</html>
