<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Address registration</title>
  
</head>
<body>
    <div class="container">
        <h2>Cím Regisztráció</h2>
        <form action="/registerAddress" method="post">
            <label for="country">Ország:</label>
            <input type="text" id="country" name="country" required><br><br>
            
            <label for="city">Város:</label>
            <input type="text" id="city" name="city" required><br><br>
            
            <label for="street">Utca:</label>
            <input type="text" id="street" name="street" required><br><br>
            
            <label for="number">Házszám:</label>
            <input type="text" id="number" name="number" required><br><br>
            
            <label for="postCode">Irányítószám:</label>
            <input type="text" id="postCode" name="postCode" required><br><br>
            
            <input type="submit" value="Regisztráció">
        </form>
    </div>
</body>
</html>
