<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Registration Error</title>
   
</head>
<body>
    <div class="container">
        <h2>Probléma adódott a regisztráció során!</h2>
        <h2>Hamarosan visszairányítunk a kezdő oldalra.</h2>
    </div>
     <script>
        setTimeout(function() {
            window.location.href = "index";
        }, 5000); 
    </script>
</body>
</html>