<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>List of Tarantulas</title>
</head>
<body class="tarantulas">
    <h1>List of Tarantulas</h1>
    <ul>
        <li th:each="tarantula : ${tarantulas}">
            <a th:href="@{'/tarantula?id=' + ${tarantula.id}}">
                <p th:text="${tarantula.genus + ' ' + tarantula.spieces}"></p>
            </a>
        </li>
    </ul>
</body>
</html>