<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>registration success</title>
    
</head>
<body>
    <div class="container">
        <h2>Thank you for registration</h2>
        <h2>Hamarosan visszairányítunk a kezdő oldalra ahol be tudsz jelentkezni.</h2>
    </div>
     <script>
        setTimeout(function() {
            window.location.href = "index";
        }, 5000); 
    </script>
</body>
</html>
