<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció Sikeres</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Köszönjük a regisztrációt!</h2>
        <h2>Hamarosan visszairányítunk a kezdő oldalra ahol be tudsz jelentkezni.</h2>
    </div>
     <script>
        setTimeout(function() {
            window.location.href = "index";
        }, 5000); 
    </script>
</body>
</html>
